<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Me !!</title>

  </head>
  <body>
    <h1><strong><em><u>About Me </u>: </em></strong></h1>
    <ul>
      <li>  Software Engineer with area of expertise on the Back-end Technologies trying to get my hands dirty by trying various Front-end and Back-end Technologies. </li>
      <li>  Check-out my <a href="https://ramshiv7.github.io/Personal_website/">Website </a> to learn more !!!   </li>
    </ul>


   <hr>
    <div >
    <h1><em><u>Connect with Me </u>: </em></h1>
    <table>
    <tr>
      <td> <a href="https://www.linkedin.com/in/shiva-raman-8a2556147/"><em><strong></strong></em><img src='https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg' width='35' height='35'/> </td>
      <td><h4>Linked-in</h4></td>
    </tr>
    <tr>
      <td><a  href="https://twitter.com/Ramshiv76115274"><em><strong><img src='https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png' width='40' height='40'/></td>
      <td><h4>Twitter</h4></td>
    </tr>
    <tr>
      <td><a  href="https://github.com/Ramshiv7"><em><strong><img  src='https://image.flaticon.com/icons/png/512/25/25231.png' width='35' height='35'/></td>
      <td><h4>GitHub</h4></td>
    </tr>
    <tr>
      <td><a href="https://www.instagram.com/ramshiv_7/"> <img src="https://image.flaticon.com/icons/png/512/87/87390.png" width="30" height="30"></td>
      <td><h4>Instagram</h4></td>
    </tr>
    </table>
    </div>
  </body>
</html>
